/*----------------------------Footer-------------------------------*/
.hero-footer {
  width: 100%;
  background-color: var(--color4);
  padding: 22px;
}
.wrapper-footer {
  min-height: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper-footer .part-l {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.wrapper-footer .part-r {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.wrapper-footer .footer-logo {
  padding-top: 10px;
}

.wrapper-footer .footer-logo img {
  width: 100px;
}

.wrapper-footer .footer-ig ul {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
}

.wrapper-footer .footer-ig ul li img {
  width: 46px;
}

.wrapper-footer .footer-ig ul li:last-child a img {
  width: 56px;
}

.footer-information p {
  color: var(--color2);
  line-height: 1.8; 
}

.footer-copyright p {
  font-size: 1em;
  color: var(--color5);
}


.footer-information {
}