@import url(./reset.css);

body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--color1);
}

:root {
  --color1: #ffffff;
  --color2: #1a1a1a;
  --color3: #e63946;
  --color4: #eeeeee;
  --color5: #999999;
  --color6: #fff8f0;
  --color7: #faf3e0;
}

.portfolio-wrapper {
  /* max-width: 1200px; */
  margin: 0 auto; /*置中*/
  padding-top: 80px;
}
/*----------------------------Header-------------------------------*/

header {
  background-color: var(--color1);
  position: fixed;
  gap: 78px;
  width: 100%;
  top: 0;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

header .left-header,
header .right-header {
  display: flex;
  /* gap: 55px; */
  align-items: center;
  width: 330px;
}

.right-header {
  margin-right: 30px;
}

header .left-header li,
header .right-header li {
  border-bottom: 4px solid transparent;
  transition: border-color 0.3s ease;
  flex-grow: 1;
}

.header-logo {
  height: 29px;
  transition: all 0.3s ease, filter 0.05s linear;
  filter: brightness(1);
}

.header-logo:hover {
  filter: brightness(0) saturate(100%) invert(31%) sepia(76%) saturate(2613%)
    hue-rotate(340deg) brightness(98%) contrast(88%);
  transform: scale(1.1);
}

header .left-header li a:hover,
header .right-header li a:hover {
  color: var(--color3);
  transform: scale(1.5);
}

header .left-header li:hover,
header .right-header li:hover {
  border-bottom: 4px solid var(--color3);
}

/*a的預設值會大於繼承，所以要寫在a裡面*/
header a {
  font-size: 1em;
  font-weight: bold;
  display: block;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  color: var(--color2);
  transition: all 0.3s ease;
}

.header-icon {
  width: 20px;
}

.header-fixed {
  position: absolute;
  right: 15px;
  top: 5px;
  display: flex;
  padding-top: 20px;
  padding-left: 30px;
  gap: 16px;
}

/* ------------------------------選單變色，每個分頁要調整的部分 ------------------------------*/
header .right-header li:nth-child(1) a {
  color: var(--color3);
  transform: scale(1.5);
}

header .right-header:hover li:nth-child(1) a {
  color: var(--color2);
  transform: none;
}

header .right-header li:nth-child(1) a:hover {
  color: var(--color3);
  transform: scale(1.5);
}

/* 當 hover 右邊任何選單時，當前頁面也變回黑色 ⭐ 改用 :has() */
header:has(.left-header:hover) .right-header li:nth-child(1) a {
  color: var(--color2);
  transform: none;
}

/* 當 hover 中間 logo 時，當前頁面也變回黑色 ⭐ 新增 */
header:has(.hleft-logo:hover) .right-header li:nth-child(1) a {
  color: var(--color2);
  transform: none;
}
/* ------------------------------以上為選單變色，每個分頁要調整的部分 ------------------------------*/
.portfolio-page1 {
}

.portfolio-page1-wrapper {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: end;
  margin-top: 60px;
  padding-bottom: 30px;
  /* border-bottom: 1px solid var(--color5); */
}

.portfolio-page1-l {
  margin-left: -10px;
}

.portfolio-page1-l h1 {
  font-weight: bold;
  font-size: 4.5em;
  line-height: 64px;
  margin-bottom: 10px;
}

.portfolio-page1-l h5 {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 5px;
}

.portfolio-page1-r ul {
  width: 600px;
  display: flex;
  flex: 1;
  text-align: center;
  border: 1px solid var(--color5);
  border-radius: 8px;
}

.portfolio-page1-r ul li {
  flex-grow: 1;
  position: relative;
}

.portfolio-page1-r ul li:not(:first-child)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 60%;
  background-color: var(--color5);
}

.portfolio-page1-r ul li a {
  display: block;
  font-size: 1em;
  padding: 10px 0;
  color: var(--color2);
  text-decoration: none;
  line-height: 24px;
}
/*-------------------------------P1 Part----------------------------*/
.commercialshooting-text {
  height: 100px;
}

.commercialshooting-photo h2 {
  font-weight: bold;
  font-size: 2em;
  line-height: 64px;
  position: absolute;
  left: 0px;
  top: -80px;
}

.commercialshooting-photo {
  width: 1000px;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 50px;
}

.photo-1 {
  background-image: url(../pics/商業拍攝/IMG_0026.JPG);
  background-size: cover;
  background-position: center;
  grid-column: 1 / 3;
  grid-row: 1 / 5;
  border-radius: 8px;
}

.photo-2 {
  background-image: url(../pics/商業拍攝/IMG_9276.JPG);
  background-size: cover;
  grid-column: 3 / 5;
  grid-row: 1 / 3;
  border-radius: 8px;
}

.photo-3 {
  background-image: url(../pics/商業拍攝/IMG_0837.JPG);
  background-size: cover;
  grid-column: 5 / 7;
  grid-row: 1 / 5;
  border-radius: 8px;
}

.photo-4 {
  background-image: url(../pics/商業拍攝/IMG_0584.JPG);
  background-size: cover;
  background-position: center;
  grid-column: 1 / 3;
  grid-row: 5 / 7;
  border-radius: 8px;
}

.photo-5 {
  background-image: url(../pics/商業拍攝/IMG_8799.JPG);
  background-size: cover;
  background-position: center;
  grid-column: 3 / 5;
  grid-row: 3 / 7;
  border-radius: 8px;
}

.photo-6 {
  background-image: url(../pics/商業拍攝/IMG_8625.JPG);
  background-size: cover;
  background-position: center;
  grid-column: 5 / 7;
  grid-row: 5 / 7;
  border-radius: 8px;
}

/*-------------------------------P2 Part----------------------------*/
.pre-wedding-text {
  height: 150px;
}

.pre-wedding-photo h2 {
  font-weight: bold;
  font-size: 2em;
  line-height: 64px;
  position: absolute;
  left: 0px;
  top: -80px;
}

.pre-wedding-photo {
  width: 1000px;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 50px;
}

.pre-wedding-photo-1 {
  background-image: url(../pics/婚紗拍攝/DSF5365.JPG);
  background-size: cover;
  background-position: center;
  grid-column: 1 / 3;
  grid-row: 1 / 4;
  border-radius: 8px;
}

.pre-wedding-photo-2 {
  background-image: url(../pics/婚紗拍攝/DSF4134.JPG);
  background-size: cover;
  background-position: center;

  grid-column: 3 / 5;
  grid-row: 1 / 7;
  border-radius: 8px;
}

.pre-wedding-photo-3 {
  background-image: url(../pics/婚紗拍攝/IMG_8371\ 2.jpg);
  background-size: cover;
  grid-column: 5 / 7;
  grid-row: 1 / 4;
  border-radius: 8px;
}

.pre-wedding-photo-4 {
  background-image: url(../pics/婚紗拍攝/IMG_7300.JPG);
  background-size: cover;
  background-position: center;
  grid-column: 1 / 3;
  grid-row: 4 / 7;
  border-radius: 8px;
}

.pre-wedding-photo-5 {
  background-image: url(../pics/商業拍攝/IMG_8799.JPG);
  background-size: cover;
  background-position: center;
  grid-column: 3 / 5;
  grid-row: 3 / 7;
  border-radius: 8px;
  display: none;
}

.pre-wedding-photo-6 {
  background-image: url(../pics/婚紗拍攝/DSF5428.JPG);
  background-size: cover;
  background-position: center;
  grid-column: 5 / 7;
  grid-row: 4 / 7;
  border-radius: 8px;
}

/*-------------------------------P3 Part----------------------------*/
.year1-text {
  height: 150px;
}

.year1-photo h2 {
  font-weight: bold;
  font-size: 2em;
  line-height: 64px;
  position: absolute;
  left: 0px;
  top: -80px;
}

.year1-photo {
  width: 1000px;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 50px;
}

.year1-photo-1 {
  background-image: url(../pics/抓周/IMG_3460.JPG\ 的副本.jpg);
  background-size: cover;
  background-position: center;
  grid-column: 1 / 3;
  grid-row: 1 / 4;
  border-radius: 8px;
}

.year1-photo-2 {
  background-image: url(../pics/抓周/IMG_3466.JPG\ 的副本.jpg);
  background-size: cover;
  background-position: center;

  grid-column: 3 / 5;
  grid-row: 1 / 5;
  border-radius: 8px;
}

.year1-photo-3 {
  background-image: url(../pics/抓周/DSC08233.jpg\ 的副本.jpg);
  background-size: cover;
  grid-column: 5 / 7;
  grid-row: 1 / 4;
  border-radius: 8px;
}

.year1-photo-4 {
  background-image: url(../pics/抓周/IMG_3462.JPG\ 的副本.jpg);
  background-size: cover;
  background-position: center;
  grid-column: 1 / 3;
  grid-row: 4 / 7;
  border-radius: 8px;
}

.year1-photo-5 {
  background-image: url(../pics/抓周/IMG_3469.JPG\ 的副本.jpg);
  background-size: cover;
  background-position: center;
  grid-column: 3 / 5;
  grid-row: 5 / 7;
  border-radius: 8px;
}

.year1-photo-6 {
  background-image: url(../pics/抓周/DSC08244.jpg\ 的副本.jpg);
  background-size: cover;
  background-position: center;
  grid-column: 5 / 7;
  grid-row: 4 / 7;
  border-radius: 8px;
}

/*-------------------------------P4 Part----------------------------*/
.courses-text {
  height: 150px;
}

.courses-photo h2 {
  font-weight: bold;
  font-size: 2em;
  line-height: 64px;
  position: absolute;
  left: 0px;
  top: -80px;
}

.courses-photo {
  width: 1000px;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 50px;
}

.courses-photo-1 {
  background-image: url(../pics/5_01PM2.png);
  background-size: cover;
  background-position: center;
  grid-column: 1 / 5;
  grid-row: 1 / 4;
  border-radius: 8px;
}

.courses-photo-2 {
  background-image: url(../pics/5_01PM1.png);
  background-size: cover;
  background-position: center;
  grid-column: 5 / 7;
  grid-row: 1 / 4;
  border-radius: 8px;
}

.courses-photo-3 {
  background-image: url(../pics/抓周/DSC08233.jpg\ 的副本.jpg);
  background-size: cover;
  grid-column: 5 / 7;
  grid-row: 1 / 4;
  border-radius: 8px;
  display: none;
}

.courses-photo-4 {
  background-image: url(../pics/5_02PM1.png);
  background-size: cover;
  background-position: center;
  grid-column: 1 / 4;
  grid-row: 4 / 7;
  border-radius: 8px;
}

.courses-photo-5 {
  background-image: url(../pics/抓周/IMG_3469.JPG\ 的副本.jpg);
  background-size: cover;
  background-position: center;
  grid-column: 3 / 5;
  grid-row: 5 / 7;
  border-radius: 8px;
  display: none;
}

.courses-photo-6 {
  background-image: url(../pics/5_01PM.png);
  background-size: cover;
  background-position: center;
  grid-column: 4 / 7;
  grid-row: 4 / 7;
  border-radius: 8px;
}

/*-------------------------------P5 Part----------------------------*/
.popup-text {
  height: 150px;
}

.popup-photo h2 {
  font-weight: bold;
  font-size: 2em;
  line-height: 64px;
  position: absolute;
  left: 0px;
  top: -80px;
}

.popup-photo {
  width: 1000px;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 50px;
}

.popup-photo-1 {
  background-image: url(../pics/5_02PM3.png);
  background-size: cover;
  background-position: center;
  grid-column: 1 / 3;
  grid-row: 1 / 5;
  border-radius: 8px;
}

.popup-photo-2 {
  background-image: url(../pics/5_02PM.png);
  background-size: cover;
  background-position: center;
  grid-column: 3 / 5;
  grid-row: 1 / 7;
  border-radius: 8px;
}

.popup-photo-3 {
  background-image: url(../pics/5_02PM2.png);
  background-size: cover;
  grid-column: 5 / 7;
  grid-row: 1 / 4;
  border-radius: 8px;
}

.popup-photo-4 {
  background-image: url(../pics/5_02PM1.png);
  background-size: cover;
  background-position: center;
  grid-column: 1 / 3;
  grid-row: 5 / 7;
  border-radius: 8px;
}

.popup-photo-5 {
  background-image: url(../pics/抓周/IMG_3469.JPG\ 的副本.jpg);
  background-size: cover;
  background-position: center;
  grid-column: 3 / 5;
  grid-row: 5 / 7;
  border-radius: 8px;
  display: none;
}

.popup-photo-6 {
  background-image: url(../pics/5_02PM4.png);
  background-size: cover;
  background-position: center;
  grid-column: 5 / 7;
  grid-row: 4 / 7;
  border-radius: 8px;
}

.buttonorder {
  display: flex;
  justify-content: center;
}

.buttonorder a {
  height: 54px;
}

main .buttonorder img {
  width: 186px;
}

main .buttonorder img:last-child {
  width: 186px;
}

.buttonorder .herop2buttonlast {
  margin-bottom: 30px;
}

/*----------------------------Up button-------------------------------*/
.up-button {
  position: absolute;
  right: 20px;
  bottom: 15px;
  position: fixed;
  width: 40px;
}

.up-button a img {
  width: 40px;
}
