@import url(./reset.css);

body {
  font-family: "DM Sans", "Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--color1);
}

:root {
  --color1: #ffffff;
  --color2: #1a1a1a;
  --color3: #e63946;
  --color4: #eeeeee;
  --color5: #999999;
  --color6: #fff8f0;
  --color7: #faf3e0;
}

.rules-wrapper {
  /* max-width: 1200px; */
  margin: 0 auto; /*置中*/
  padding-top: 80px;
}

/* ------------------------------選單變色，每個分頁要調整的部分 ------------------------------*/
header .right-header li:nth-child(2) a {
  color: var(--color3);
  transform: scale(1.5);
}

header .right-header:hover li:nth-child(2) a {
  color: var(--color2);
  transform: none;
}

header .right-header li:nth-child(2) a:hover {
  color: var(--color3);
  transform: scale(1.5);
}

/* 當 hover 右邊任何選單時，當前頁面也變回黑色 ⭐ 改用 :has() */
header:has(.left-header:hover) .right-header li:nth-child(2) a {
  color: var(--color2);
  transform: none;
}

/* 當 hover 中間 logo 時，當前頁面也變回黑色 ⭐ 新增 */
header:has(.header-logo:hover) .right-header li:nth-child(2) a {
  color: var(--color2);
  transform: none;
}
/* ------------------------------以上為選單變色，每個分頁要調整的部分 ------------------------------*/

/*----------------------------P1 Part-------------------------------*/
.rules-page-1-wrapper > h2 {
  text-align: center;
  font-size: 3.5em;
  line-height: 4em;
  font-weight: bold;
}

.procedure {
  height: 300px;
}

.procedure h3 {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--color2);
  line-height: 1.3;
  margin-top: 0;
}

.procedure ul {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  max-width: 1200px;
  margin: 0 auto;
}

.procedure ul li {
  flex-grow: 0;
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  display: flex;
}

.procedure ul li svg {
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
}

/*----------------------------P2 Part-------------------------------*/

.rules-page-2-wrapper {
  height: 600px;
  display: flex;
  justify-content: center;
  padding: 16px 0;
  align-items: center;
}

.rules-page-2-wrapper-l {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.rules-page-2 h1 {
  font-weight: bold;
  font-size: 3em;
  color: var(--color2);
  line-height: 64px;
  text-align: center;
}

.rules-page-2-wrapper-l h4 {
  font-weight: bold;
  font-size: 1.25em;
  color: var(--color2);
  line-height: 32px;
  width: 300px;
  /* border-bottom: 1px solid var(--color5); */
}

.rules-page-2-wrapper-l ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.rules-page-2-wrapper-l li {
  /* margin: 100px 0; */
  /* padding-top: 50px; */
}

.rules-page-2-wrapper-l li:first-child {
  margin-top: 0;
}

.rules-page-2-wrapper-l li a {
  text-decoration: none;
  display: block;
}

.rules-page-2-wrapper-r {
  content: "";
  background-color: var(--color6);
  width: 550px;
  height: 500px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.buttonorder {
  display: flex;
  justify-content: center;
}

main .buttonorder img {
  width: 186px;
  margin-bottom: 50px;
}

.rules-page-2-wrapper-r {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  outline: 1px solid var(--color2);
  outline-offset: -20px;
}

.rules-page-2-wrapper-r .rules-text .food,
.rules-page-2-wrapper-r .rules-text .pet,
.rules-page-2-wrapper-r .rules-text .book,
.rules-page-2-wrapper-r .rules-text .space,
.rules-page-2-wrapper-r .rules-text .number {
  font-size: 1.5em;
  color: var(--color2);
  font-weight: bold;
  line-height: 2em;
}

.rules-page-2-wrapper-r .rules-text .change {
  font-size: 1.25em;
  color: var(--color2);
  font-weight: bold;
  line-height: 2em;
}

.rules-page-2-wrapper-r .rules-text .default-text {
  font-size: 2em;
  color: var(--color2);
  font-weight: bold;
  line-height: 2.5em;
}

/* 預設全部隱藏 */
.rules-text p {
  display: none;
}

.rules-text .default-text {
  display: block;
}

.rules-text .default-text img {
  width: 120px;
  display: block;
  margin: 0 auto;
}

/* hover選單 */
/* 當 hover 到第一個選項時，只顯示 food */
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(1) a:hover)
  .food {
  display: block;
}

.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(1) a:hover)
  .pet,
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(1) a:hover)
  .change,
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(1) a:hover)
  .default-text,
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(1) a:hover)
  .book,
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(1) a:hover)
  .space,
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(1) a:hover)
  .number {
  display: none;
}

/* 當 hover 到第二個選項時，只顯示 pet */
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(2) a:hover)
  .pet {
  display: block;
}

.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(2) a:hover)
  .food,
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(2) a:hover)
  .change,
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(2) a:hover)
  .default-text,
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(2) a:hover)
  .book,
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(2) a:hover)
  .space,
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(2) a:hover)
  .number {
  display: none;
}

/* 當 hover 到第三個選項時，只顯示 change */
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(3) a:hover)
  .change {
  display: block;
}

.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(3) a:hover)
  .food,
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(3) a:hover)
  .pet,
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(3) a:hover)
  .default-text,
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(3) a:hover)
  .book,
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(3) a:hover)
  .space,
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(3) a:hover)
  .number {
  display: none;
}

/* 4 */
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(4) a:hover)
  .book {
  display: block;
}

.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(4) a:hover)
  .food,
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(4) a:hover)
  .pet,
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(4) a:hover)
  .default-text,
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(4) a:hover)
  .change,
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(4) a:hover)
  .space,
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(4) a:hover)
  .number {
  display: none;
}

/* 5 */
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(5) a:hover)
  .space {
  display: block;
}

.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(5) a:hover)
  .food,
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(5) a:hover)
  .pet,
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(5) a:hover)
  .default-text,
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(5) a:hover)
  .book,
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(5) a:hover)
  .change,
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(5) a:hover)
  .number {
  display: none;
}

/* 6 */
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(6) a:hover)
  .number {
  display: block;
}

.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(6) a:hover)
  .food,
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(6) a:hover)
  .pet,
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(6) a:hover)
  .default-text,
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(6) a:hover)
  .book,
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(6) a:hover)
  .change,
.rules-page-2-wrapper:has(.rules-page-2-wrapper-l ul li:nth-child(6) a:hover)
  .change {
  display: none;
}

/*----------------------------Up button-------------------------------*/
.up-button {
  position: absolute;
  right: 20px;
  bottom: 15px;
  position: fixed;
  width: 40px;
}

.up-button a img {
  width: 40px;
}
