
/* ====================== Header  ======================*/

/* 1200 */
@media (max-width: 1200px) {
  .header-container {
    gap: 60px;
    padding: 0 30px;
  }
  
  .header-fixed {
    right: 30px;
  }
}

/* 1100 */
@media (max-width: 1100px) {
  .header-container {
    gap: 50px;
    padding: 0 24px;
  }
  
  header .left-header,
  header .right-header {
    width: auto;
    gap: 28px;
  }
  
  .right-header {
    margin-right: 15px;
  }
  
  .header-fixed {
    right: 20px;
  }
  
  .cart-panel-wrapper {
    right: -20px;
    min-width: 320px;
  }

  .cart-items {
  max-height: 240px;
  overflow-y: auto;
  margin-bottom: 20px;
  padding-right: 8px;
}
}

/* 992 */
@media (max-width: 992px) {
  .header-container {
    gap: 30px;
    padding: 0 15px;
  }
  
  .header-fixed {
    right: 15px;
  }
}

/* 900 */
@media (max-width: 900px) {
  .header-container {
    gap: 8px;
    padding: 0 10px;
  }
  
  .header-fixed {
    right: 10px;
    gap: 4px;
  }
}

/* 820 */
@media screen and (max-width: 820px){
  .header-container {
    padding: 0 10px;
    justify-content: center;
    padding-inline-start: 20px;
  }
  .header-logo-wrapper {
    order: 1;
    flex-grow: 0;
    text-align: left;
  }
  .header-container .left-header{
    order: 2;
    display: none;
    flex-grow: 1;

  }
  .header-container .right-header{
    order: 2;
    display: none;
    flex-grow: 1;
  }

  .header-fixed{
    order: 3;
    display: flex;
    top: 50%; 
    transform: translateY(-50%);  
    right: 20px;
    gap: 18px;
    align-items: center;
  }

  .cart-icon,
  .user-icon{
    width: 24px;
  }
  .cart-icon .header-icon {
    scale: 1.3;
    content: url(../pics/cart-red.png);
  }

  .user-icon .header-icon {
    scale: 1.3;
    content: url(../pics/user-red.png);
  }

  .header-fixed .hamburgerWrapper{
    width: auto; 
    margin: 0;
    display: block;
    padding-top: 8px;
  }
  .menu ul{
    right: 0; 
    left: auto;
  }

  .hamburgerWrapper .menu {
    padding: 0;
  }

  .bar{
    /* scale: 0.8; */
  }

  .cart-panel {
    width: 80vw; 
    max-width: 350px;
  }

  .cart-panel-wrapper.active .cart-panel {
    /* 根據需要調整位置，例如： */
    position: fixed;
    top: 80px; /* 根據你的 header 高度調整 */
    right: 20px;
  }

  .cart-panel::after {
    right: 66px;
  }
}

/*540*/
@media (max-width: 540px) {
  .header-logo-wrapper{
    scale: 0.9;
  }
  .header-fixed {
    position: absolute;
    right: 10px;
    top: 20px;
    scale: 0.9;
    padding-top: 0;
  }

  .header-fixed .hamburgerWrapper{
    scale: 0.85;
    padding-top: 6px;
  }
}

/* 440 */
@media screen and (max-width: 440px){

  .header-container {
    padding: 0 10px;
    justify-content: center;
    padding-inline-start: 20px;
  }

  .header-logo-wrapper{
    scale: 0.8;
  }
  
  .header-fixed {
    position: absolute;
    right: 0;
    top: 16px;
    scale: 0.8;
    
  }

  .header-fixed .hamburgerWrapper{
    scale: 0.75;
    padding-top: 8px;
  }

}

/* ====================== Index Page  ======================*/

/* P1 */
/* 1100 */
@media (max-width: 1100px) {
  .hero-container-l {
    width: 800px;
  }
  .hero-container-r {
    width: 100%;
  }
}

/* 885 */
@media (max-width: 885px) {
  .wrapper-p1 .pr1 {
    font-size: 1.15em;
    left: 80px;
  }

  .wrapper-p1 .pr2 {
    font-size: 0.9em;
    left: 80px;
  }

  .wrapper-p1 .herop1button {
    top: 496px;
    left: 80px;
  }  
}

/* 820 */
@media (max-width: 820px) {

  .wrapper-p1 {
    display: block;
  }

  .hero-container-r img{
    display: none;
  }

  .hero-container-r {
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
  }
  
  .hero-container-l {
    width: 90%;
    height: auto;
    aspect-ratio: 1 / 1; 
    margin: 20px auto 0;
    margin-right: 22px;
    margin: 0 auto;
  }

  #content li {
    outline: 1px solid var(--color1);
    outline-offset: -10px;
  }

  .aside-circle {
    margin-bottom: 16px;
  }
  .aside-circle-dots{
    display: flex;  
    gap: 16px;
    justify-content: center;
  }

  .hero-dot {
    width: 20px;
  }

  .hero-container-r {
    box-shadow: none;
    margin-top: -92px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */
  }

  .hero-title{
    display: block;
    position: static;
    font-size: 5em;
    width: 100%;
    margin-bottom: 32px;
  }

  .wrapper-p1 .pr1 {
    position: static;
    width: 100%;
    font-size: 1.4em;
    margin-bottom: 20px;
  }
  
  .wrapper-p1 .pr2 {
    position: static;
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 30px;
  }

  .mobile-break{
    display: none;
  }

  .wrapper-p1 .pr1 .desktop-break {
  display: block;
  } 
  .wrapper-p1 .herop1button {
    position: static;
    margin: 0 auto;
  }

  #content {
    display: flex;
  }

  #content li {
  width: 100%;
  height: 100%;
  list-style: none;
  min-width: 100%;
  }
}

/* 440 */
@media (max-width: 440px) {
  .hero-container-r{
    padding-left: 12px;
  }
  .hero-title{
    font-size: 4.5em;
    margin-bottom: 2px;
  }

  .wrapper-p1 .pr1 {
    font-size: 1.1em;
    margin-bottom: 10px;
  }

  .wrapper-p1 .pr2 {
    font-size: 1em;
    margin-bottom: 16px;
  }

  .wrapper-p1 .herop1button{
    width: 140px;
  }

  .cart-panel {
    width: 60vw; 
    max-width: 282px;
    padding-bottom: 0px;
  }

  .cart-panel-wrapper.active .cart-panel {
    /* 根據需要調整位置，例如： */
    position: fixed;
    top: 70px; /* 根據你的 header 高度調整 */
    right: 0px;
  }

  .cart-total h4  {
    line-height: 1;
    font-size: 0.8em;
  }

  .goToCheckOut {
    width: 100px;
    line-height: 32px;
  }
  .cart-icon a {
    display: ;
  }
}
/* P2 */

/* 820*/




/* 440 */







/* P3 */

/* 820*/




/* 440 */









/* P4 */

/* 820*/




/* 440 */




/* ====================== About Page  ======================*/







/* ====================== Footer  ======================*/

@media (max-width: 992px) {
  .wrapper-footer .part-l{
    scale: 0.8;
  }
  .wrapper-footer .part-r{
    scale: 0.8;
}
}

@media (max-width: 820px) {
  .hero-footer {
    padding: 22px;
  }

  .wrapper-footer {
    flex-direction: column;
  }

  .wrapper-footer .part-r {
    flex-direction: column;
    gap: 12px;
  }

  .wrapper-footer .footer-ig ul{
    scale: 0.95;
    gap: 18px;
  }

  .footer-copyright p {
    font-size: 0.8em;
  }

  .up-button a img {
    width: 28px;
  }
  .up-button {
  position: absolute;
  right: 10px;
  bottom: 6px;
  position: fixed;
  width: 28px;
  }
}
