
/* ====================== Header  ======================*/

@media (max-width: 1200px) {
  .header-container {
    gap: 60px;
    padding: 0 30px;
  }
  
  .header-fixed {
    right: 30px;
  }
}

@media (max-width: 1100px) {
  .header-container {
    gap: 50px;
    padding: 0 24px;
  }
  
  header .left-header,
  header .right-header {
    width: auto;
    gap: 28px;
  }
  
  .right-header {
    margin-right: 15px;
  }
  
  .header-fixed {
    right: 20px;
  }
  
  .cart-panel-wrapper {
    right: -20px;
    min-width: 320px;
  }

  .cart-items {
  max-height: 240px;
  overflow-y: auto;
  margin-bottom: 20px;
  padding-right: 8px;
}
}

@media (max-width: 992px) {
  .header-container {
    gap: 30px;
    padding: 0 15px;
  }
  
  .header-fixed {
    right: 15px;
  }
}

@media (max-width: 900px) {
  .header-container {
    gap: 8px;
    padding: 0 10px;
  }
  
  .header-fixed {
    right: 10px;
    gap: 4px;
  }
}

/* 820 */
@media screen and (max-width: 820px){
  .header-container {
    padding: 0 10px;
    justify-content: space-between;
    padding-inline-start: 20px;
  }
  .header-logo-wrapper {
    order: 1;
    flex-grow: 1;
    text-align: center;
  }
  .header-container .left-header{
    order: 2;
    display: none;
  }
  .header-container .right-header{
    order: 3;
    display: none;
  }
  /* .header-container .header-fixed:not(.cart-panel-wrapper){
    display: none;
  } */

  .header-fixed{
    order: 3;
    display: flex;
    top: 50%; 
    transform: translateY(-50%);  
    right: 20px;
  }

  .cart-icon,
  .user-icon {
      display: none;
  }

  .header-fixed .hamburgerWrapper{
    width: auto; 
    margin: 0;
    display: block;
  }
  .menu ul{
    right: 0; 
    left: auto;
  }
/* 440 */









/* ====================== Index Page  ======================*/



/* ====================== About Page  ======================*/
