* {
  box-sizing: border-box;
}


/* ====================== Header  ======================*/

/* 1200 */
@media (max-width: 1200px) {
  .header-container {
    gap: 60px;
    padding: 0 30px;
  }
  
  .header-fixed {
    right: 30px;
  }
}

/* 1100 */
@media (max-width: 1100px) {
  .header-container {
    gap: 50px;
    padding: 0 24px;
  }
  
  header .left-header,
  header .right-header {
    width: auto;
    gap: 28px;
  }
  
  .right-header {
    margin-right: 15px;
  }
  
  .header-fixed {
    right: 20px;
  }
  
  .cart-panel-wrapper {
    right: -20px;
    min-width: 320px;
  }

  .cart-items {
  max-height: 240px;
  overflow-y: auto;
  margin-bottom: 20px;
  padding-right: 8px;
}
}

/* 992 */
@media (max-width: 992px) {
  .header-container {
    gap: 30px;
    padding: 0 15px;
  }
  
  .header-fixed {
    right: 15px;
  }
}

/* 900 */
@media (max-width: 900px) {
  .header-container {
    gap: 8px;
    padding: 0 10px;
  }
  
  .header-fixed {
    right: 10px;
    gap: 4px;
  }
}

/* 820 */
@media screen and (max-width: 820px){
  .header-container {
    padding: 0 10px;
    justify-content: center;
    padding-inline-start: 20px;
  }
  .header-logo-wrapper {
    order: 1;
    flex-grow: 0;
    text-align: left;
  }
  .header-container .left-header{
    order: 2;
    display: none;
    flex-grow: 1;

  }
  .header-container .right-header{
    order: 2;
    display: none;
    flex-grow: 1;
  }

  .header-fixed{
    order: 3;
    display: flex;
    top: 50%; 
    transform: translateY(-50%);  
    right: 20px;
    gap: 18px;
    align-items: center;
  }

  .cart-icon,
  .user-icon{
    width: 24px;
  }
  .cart-icon .header-icon {
    scale: 1.3;
    content: url(../pics/cart-red.png);
  }

  .user-icon .header-icon {
    scale: 1.3;
    content: url(../pics/user-red.png);
  }

  .header-fixed .hamburgerWrapper{
    width: auto; 
    margin: 0;
    display: block;
    padding-top: 8px;
    scale: 0.8;
  }
  .menu ul{
    right: 0; 
    left: auto;
  }

  .hamburgerWrapper .menu {
    padding: 0;
    /* scale: 0.7; */
  }


  .cart-panel {
    width: 80vw; 
    max-width: 450px;
  }

  .cart-panel-wrapper.active .cart-panel {
    /* 根據需要調整位置，例如： */
    position: fixed;
    top: 80px; /* 根據你的 header 高度調整 */
    right: 20px;
  }

  .cart-panel::after {
    right: 88px;
  }
}

/*540*/
@media (max-width: 540px) {
  .header-logo-wrapper{
    scale: 0.9;
  }
  .header-fixed {
    position: absolute;
    right: 10px;
    top: 20px;
    scale: 0.9;
    padding-top: 0;
  }

  .header-fixed .hamburgerWrapper{
    scale: 0.8;
    padding-top: 6px;
  }
}

/* 440 */
@media screen and (max-width: 440px){

  .header-container {
    padding: 0 10px;
    justify-content: center;
    padding-inline-start: 20px;
    padding-right: 50px;
  }

  .header-logo-wrapper{
    scale: 1;
  }
  
  .header-fixed {
    position: absolute;
    right: 0;
    top: 16px;
    scale: 0.7;
    
  }

  .header-fixed .hamburgerWrapper{
    /* scale: 0.65; */
    padding-top: 4px;
  }

  .menu ul{
    width: 500px;
    /* max-width: 95vw; */
  }

}

/* ====================== Index Page  ======================*/

/* P1 */
/* 1100 */
@media (max-width: 1100px) {
  .hero-container-l {
    width: 800px;
  }
  .hero-container-r {
    width: 100%;
  }
}

/* 885 */
@media (max-width: 885px) {
  .wrapper-p1 .pr1 {
    font-size: 1.15em;
    left: 80px;
  }

  .wrapper-p1 .pr2 {
    font-size: 0.9em;
    left: 80px;
  }

  .wrapper-p1 .herop1button {
    top: 496px;
    left: 80px;
  }  
}

/* 820 */
@media (max-width: 820px) {

  header {
    max-width: 100vw !important;
    width: 100% !important;
  }

  .p5pic, 
  img {
    max-width: 100% !important;
  }

  .wrapper-p1 {
    display: block;
  }

  .hero-container-r img{
    display: none;
  }

  .hero-container-r {
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
  }
   
  .hero-container-l {
    width: 90%;
    height: auto;
    aspect-ratio: 1 / 1; 
    margin: 20px auto 0;
    margin-right: 22px;
    margin: 0 auto;
  }

  #content li {
    outline: 1px solid var(--color1);
    outline-offset: -10px;
  }

  .aside-circle {
    margin-bottom: 16px;
  }
  .aside-circle-dots{
    display: flex;  
    gap: 16px;
    justify-content: center;
    scale: 0.9;
  }

  .hero-dot {
    width: 20px;
  }

  .hero-container-r {
    box-shadow: none;
    margin-top: -92px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */
  }

  .hero-title{
    display: block;
    position: static;
    font-size: 5em;
    width: 100%;
    margin-bottom: 32px;
  }

  .wrapper-p1 .pr1 {
    position: static;
    width: 100%;
    font-size: 1.4em;
    margin-bottom: 20px;
  }
  
  .wrapper-p1 .pr2 {
    position: static;
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 30px;
  }

  .mobile-break{
    display: none;
  }

  .wrapper-p1 .pr1 .desktop-break {
  display: block;
  } 
  .wrapper-p1 .herop1button {
    position: static;
    margin: 0 auto;
  }

  #content {
    display: flex;
  }

  #content li {
  width: 100%;
  height: 100%;
  list-style: none;
  min-width: 100%;
  }
}

/* 440 */
@media (max-width: 440px) {
  .hero-container-r{
    padding-left: 12px;
  }
  .hero-title{
    font-size: 4.5em;
    margin-bottom: 2px;
  }

  .wrapper-p1 .pr1 {
    font-size: 1.1em;
    margin-bottom: 10px;
  }

  .wrapper-p1 .pr2 {
    font-size: 1em;
    margin-bottom: 70px;
  }

  .wrapper-p1 .herop1button{
    width: 176px;
  }

  .cart-panel {
    width: 80vw; 
    padding-bottom: 0px;
  }

  .cart-panel-wrapper.active .cart-panel {
    /* 根據需要調整位置，例如： */
    position: fixed;
    top: 70px; /* 根據你的 header 高度調整 */
    right: 0px;
  }

  .cart-total h4  {
    line-height: 1;
    font-size: 0.8em;
  }

  .goToCheckOut {
    width: 100px;
    line-height: 32px;
  }
  .cart-icon a {
    display: ;
  }
}
/* 393 */
@media screen and (max-width: 393px){
  
  .wrapper-p1 .pr1 {
    font-size: 1em;
  }

  .aside-circle-dots {
    scale: 0.8;
  }


}

/* P2 */
/* 1100 */
@media (max-width: 1100px) {
  .wrapper-p2 .p2-l .pr2,
  .wrapper-p2 .p2-l .pr3 {
  font-size: 0.9em;
  }

}

/* 820 */
@media (max-width: 820px) {
  .wrapper-p2-text{
    display: none;
  }

  .wrapper-p2 .p2-l {
   display: none;
  }

  .wrapper-p2 {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    margin-bottom: 100px;
    position: relative;
    min-height: 700px;
    width: 100%;
    max-width: 100%;
  }

  .wrapper-p2 .wrapper-p2-text-break {
    display: block;
    order: 2;
    width: calc(100% - 40px);
    max-width: 500px;
    position: absolute;
    left: 8%;
    top: 65%;
    transform: translateY(-50%);
    z-index: 10;
    display: flex;
    flex-direction: column;
  }

  .wrapper-p2 .p2-r {
    order: 1;
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    outline: 1px solid var(--color1);
    outline-offset: -10px;
  }

  .wrapper-p2 .p2-r .p2imgr {
    height: 100%;
    object-fit: cover;
    object-position: center 85%;
    border-radius: 0;
    outline: 1px solid var(--color1);
    outline-offset: -10px;
  }

  .wrapper-p2 .wrapper-p2-text-break h2 {
  color: var(--color2);
  font-weight: bold;
  font-size: 3.5em;
  line-height: 64px;
  color: var(--color3);
  margin-bottom: 40px;
  text-shadow: 2px 2px 4px var(--color1), 4px 4px 8px rgba(0, 0, 0, 0.15);
  }

  .wrapper-p2 .wrapper-p2-text-break 
  .pr1{
    font-size: 1.35em;
    line-height: 32px;
    font-weight: normal;
    margin-bottom: 32px;
    text-shadow: 2px 2px 4px var(--color1), 4px 4px 8px rgba(0, 0, 0, 0.15);
  }

  .wrapper-p2 .wrapper-p2-text-break .pr2,
  .wrapper-p2 .wrapper-p2-text-break .pr3{
    font-size: 1.1em;
    font-weight: normal;
    margin-bottom: 20px;  
    text-shadow: 2px 2px 4px var(--color1), 4px 4px 8px rgba(0, 0, 0, 0.15);
  }


  .wrapper-p2 .wrapper-p2-text-break .pr3 {
    margin-bottom: 200px;
  }

  .wrapper-p2 .herop2button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px; 
    top: auto;
}

}

/* 440 */
@media (max-width: 440px) {
  .wrapper-p2 .p2-r {
    height: 550px;
  }


  .wrapper-p2 .p2-r .p2imgr {
    height: 100%; 
  }
}


/* P3 */

/* 820*/
@media (max-width: 820px){
.wrapper-p3 ul {
  border-radius: 0;
}
  
}


/* 440 */
@media (max-width: 440px){
.wrapper-p3 ul {
  flex-direction: column;
  align-items: center;
}

.wrapper-p3 li{
  width: 90%;
  height: 600px;
  margin-bottom: 100px;
}


.wrapper-p3 img {
  width: 100%;
  height: 600px;
}

.wrapper-p3 h2 {
  /* font-size: 2.5em; */
}

.wrapper-p3 .h3-1,
.h3-2,
.h3-3,
.h3-4 {
  font-size: 3em;
}

.wrapper-p3 .p-1,
.p-2,
.p-3,
.p-4 {
  font-size: 1.1em;
  left: 6px;
}
.wrapper-p3 .herop3button {
  bottom: -80px;
}

}

/* P4 */

/* 820*/
@media (max-width: 820px){
  .page4 .p5pic {
    scale: 0.95;
    animation: float-container 3s ease-in-out infinite;
  }

  @keyframes float-container {
  0% {
    transform: translateX(-55%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-55%);
  }
  }
}


/* 440 */
@media (max-width: 820px){
  .page4 .p5pic {

  transform: translateX(-54%);

  }

  .wrapperp4{
    padding-top: 172px;
    margin-bottom: 200px;
  }

  .wrapperp4 h3 {
  font-size: 2.2em;
  font-weight: bold;
  line-height: 48px;
  margin-bottom: 20px;
  color: var(--color3);
}

.wrapperp4 p {
  display: block;
  margin-bottom: 10px;
  font-size: 0.8em;
  line-height: 24px;
  font-weight: bold;
  color: var(--color5);
}

.wrapperp4 h4 {
  color: var(--color2);
  font-weight: bold;
  font-size: 1.2em;
  line-height: 32px;
  margin-bottom: 10px;
}

.wrapperp4 h5 {
  color: var(--color2);
  font-weight: bold;
  font-size: 0.8em;
  line-height: 24px;
}

}




/* ====================== About Page  ======================*/







/* ====================== Footer  ======================*/

@media (max-width: 992px) {
  .wrapper-footer .part-l{
    scale: 0.8;
  }
  .wrapper-footer .part-r{
    scale: 0.8;
}
}


@media (max-width: 820px) {
  .hero-footer {
    padding: 22px;
  }

  .wrapper-footer {
    flex-direction: column;
    /* align-items: center; */
  }

  .wrapper-footer .part-r {
    flex-direction: column;
    gap: 12px;
  }

  .wrapper-footer .footer-ig ul{
    scale: 0.95;
    gap: 18px;
  }

  .footer-copyright p {
    font-size: 0.8em;
  }

  .up-button a img {
    width: 28px;
  }
  .up-button {
  position: absolute;
  right: 12px;
  bottom: 12px;
  position: fixed;
  width: 32px;
  }
}
 
@media (max-width: 440px) {  
  .wrapper-footer
}
